---
title: a9s RabbitMQ for Pivotal Platform
owner: Partners
---

This documentation describes the a9s RabbitMQ for Pivotal Platform tile.
a9s RabbitMQ for Pivotal Platform enables on-demand provisioning of VM-based dedicated RabbitMQ
servers and clusters. Developers can create clustered and single node RabbitMQ
service instances, using Apps Manager or the Cloud Foundry Command Line Interface,
and bind them to apps. A service instance may be associated with a single dedicated
VM or a cluster spread across multiple VMs. You can choose between single VM and
clustered RabbitMQ services instances with service plans.

<%= image_tag("a9s-rabbitmq.png") %>


## <a id='overview'></a> Overview

When you run the cf CLI `create-service a9s-rabbitmq` command, Pivotal Platform creates dedicated
VMs for this service instance. This provides protection from bad neighbors.

RabbitMQ service instance provisioning, including VM orchestration, is entirely
automated. This enables service instances to be highly isolated and shielded by
infrastructure virtualization mechanisms.

Due to the on-demand provisioning on VMs, only existing service instances allocate
infrastructure resources. These resources are released when service instances are
destroyed. Using on-demand, provisioning the number of service instances is not
limited by design.

Distributed across multiple infrastructure availability zones, clustered data service
plans enable short failover times and are resilient against failures of individual
infrastructure hosts or entire availability zones.

### <a id="currentfeatures"></a> Current Features

a9s RabbitMQ for Pivotal Platform includes the following key features:

| Feature | Description |
|---------|---------|
| **On-demand service instance provisioning** | a9s RabbitMQ for Pivotal Platform deploys RabbitMQ instances automatically. Developers can provision a single VM RabbitMQ server or a multi VM RabbitMQ replica set using one command. |
| **Service instance isolation** | Each RabbitMQ server runs on a dedicated VM to ensure bad-neighborhood protection and align with enterprise security requirements.<br/><br/>a9s RabbitMQ for Pivotal Platform uses Cloud Foundry [application security groups (ASGs)](https://docs.pivotal.io/pivotalcf/adminguide/app-sec-groups.html) to prevent network connections from unauthorized apps.
| **High availability** | a9s RabbitMQ for Pivotal Platform ensures high availability using RabbitMQ replication.<br/><br/>The Consul-based internal DNS system provided by a9s Consul DNS for Pivotal Platform ensures that the bound app always connects to a working node. |
| **Smoke tests** | A post-deployment, smoke-test errand runs basic tests against your installation to ensure that it is configured properly. |
| **Service instance capacity upgrade** | By updating your service plan, you can upgrade the RAM, CPU, and storage capacity for your RabbitMQ instances. |
| **Logging and monitoring** | Each RabbitMQ service instance provides log messages and RabbitMQ-specific metrics to one or more `syslog/graphite` endpoints. You can configure the `syslog/graphite` endpoint to receive logging and monitoring information. |
| **Deployment updater** | An updater errand updates the stemcell and all provisioned a9s RabbitMQ for Pivotal Platform service instances to their latest version. |
| **Backup Manager** | The Backup Manager does regular backups of your instances, and offers endpoints to back up instantly and restore backups. |
| **Service Guard** | The Service Guard creates Cloud Foundry security groups for your service instance VMs.<br/><br/> When the IP address of a service instance changes, the guard updates the security group.|
| **Service Dashboard** | The Service Dashboard provides single sign on and lets the user easily trigger backups. |
| **Syslog Endpoints for Instances** | In the tile, a default endpoint for syslog and Graphite can be configured for each service instance created. |
| **New RabbitMQ Versions** | Added a9s RabbitMQ v3.6 and v3.7. |
| **Consul Domain Configurable** | The consul domain can now be configured. |
| **BOSH DNS Handler** | a9s BOSH DNS handler added to make a9s service instances accessible from Diego cells. |
| **a9s-pg Backup** | Added backup option for a9s-pg. |
| **Instance Sharing** | a9s RabbitMQ SQL no supports instance sharing between orgs an spaces, see [documentation](https://docs.pivotal.io/pivotalcf/2-6/devguide/services/sharing-instances.html). |
| **Update to Xenial** | Upgrades the stemcell to Ubuntu Xenial.. |

### <a id='video'></a> Video Overview of a9s RabbitMQ for Pivotal Platform

The following video provides an overview of how a9s RabbitMQ for Pivotal Platform works.

<p>
  <iframe src="https://www.youtube.com/embed/kNdWIS6kWqw"
    width="656" height="372" frameborder="0" allowfullscreen></iframe>
</p>


## <a id="snapshot"></a> Product Snapshot

The following table provides version and version-support information about a9s RabbitMQ for Pivotal Platform:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v2.2.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 6th, 2019</td>
    </tr>
    <tr>
      <td>Compatible Ops Manager version(s)</td>
      <td>v2.3.x, v2.4.x, v2.5.x, v2.6.x and v2.7.x</td>
    </tr>
    <tr>
      <td>Compatible Pivotal Application Service version(s):</td>
      <td>v2.3.x, v2.4.x, v2.5.x, v2.6.x and v2.7.x</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial 456.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>RabbitMQ Versions</td>
        <td>RabbitMQ v3.6.15 and v3.7.14</td>
    <tr>
</table>

<p class="note warning"><strong> Warning:</strong>
a9s RabbitMQ for Pivotal Platform v2.0.2
and earlier require a Ubuntu Trusty stemcell.
The end-of-life date for Ubuntu Trusty is April 2019.
If a security vulnerability is found on this stemcell after April, it will not be fixed.</p>

<p class='note'><strong>Note:</strong> Upgrades from a9s
RabbitMQ for Pivotal Platform v1.x are not supported. If you previously installed a9s
RabbitMQ for Pivotal Platform v1.x, uninstall it and install the latest version.</p>

## <a id="reqs"></a> Requirements

To install and use a9s RabbitMQ for Pivotal Platform, you must install the following products and tiles:

* Pivotal Application Service (formerly Elastic Runtime) v2.3 or later

For more information, see [Installing and Configuring a9s RabbitMQ for Pivotal Platform](./installing.html).


## <a id="feedback"></a> Feedback and Support

a9s RabbitMQ for Pivotal Platform is an automation toolset for open source RabbitMQ. The entire
anynines team can help your team get started and be successful. Technical support,
including a service level agreement, is available with a commercial license.

If your company has specific RabbitMQ administration policies or configuration
best practices, the anynines team is happy to incorporate them, if applicable.
Third-party RabbitMQ support organizations are also welcome to assist.

Contributions are welcome. Send any bugs, feature requests, or questions to
[dssupport@anynines.com](mailto:dssupport@anynines.com).


## <a id='license'></a> License

Contact our [sales team](mailto:dssupport@anynines.com) to learn more about
commercial licenses and support.
