---
title: a9s RabbitMQ for PCF Release Notes
owner: Partners
---

### v0.10.1

**Release Date:** April 20, 2017

a9s RabbitMQ for PCF is based on a9s RabbitMQ which began development in 2014. a9s RabbitMQ for PCF was tested on <a href="https://paas.anynines.com/" target="_blank">paas.anynines.com</a>.

Features included in this release:

* On-demand Service Instance Provisioning
* Service Instance Isolation
* High Availability
* Smoke tests errand. See <a href="/partners/a9s-rabbitmq/installing.html#errands" target="_blank">the errands chapter</a> for more information.
* Service Instance Plan Upgrade
* Logging and Monitoring
