---
title: a9s RabbitMQ for PCF Release Notes
owner: Partners
---

## <a id="0-10-1"></a>v0.10.1

**Release Date:** April 17, 2017

Features included in this release:

* On-demand service instance provisioning.
* Service instance isolation.
* High availability.
* Smoke tests errand. See [Configure Errands](./installing.html#errands").
* Service instance plan upgrade.
* Logging and monitoring.
